<%- include("partials/header") -%>

<div>
  <%= typeof msg != 'undefined' ? msg : '' %>
  <% files.forEach(function(file) { %>
  <img src="<%= typeof file != 'undefined' ? file.image : '' %>" class="img-thumbnail">
  <% }); %>
</div>

<%- include("partials/footer") -%>