<%- include("partials/header") -%>

<div class="container">
  <h1>Upload</h1>
  <%= typeof msg != 'undefined' ? msg : '' %>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1" name="imageUpload">

      <button class="btn btn-primary" type="submit" name="button">publish</button>
    </div>
  </form>

  <br>

  <!-- <img src="<%= typeof file != 'undefined' ? file : '' %>" class="img-thumbnail"> -->
</div>
<%- include("partials/footer") -%>